.landingPage{
    background-image: url('../Assets/MainPage.jpg');
     /* background-image: url('../Assets/LandingPage.jpg'); */
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

}